In [623]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import csv
import os
from decimal import *
import json

In [624]:
# Read location of Data

df = pd.read_csv("TonnageClean.csv")

In [625]:
# Preview Data
print(df.head())

   Unnamed: 0  Month Index Year/Month  Year  Month    Borough  CD   Refuse  \
0           0           23  1993 / 11  1993     11  Manhattan   1   625.20
1           1           45  1995 / 09  1995      9  Manhattan   1   633.10
2           2           44  1995 / 08  1995      8  Manhattan   1   627.50
3           3          243  2012 / 03  2012      3  Manhattan   1 1,194.40
4           4            3  1992 / 03  1992      3  Manhattan   1   726.00

   Paper    MGP
0 119.40  34.40
1 117.20  45.80
2  82.40  35.60
3 341.60 210.80
4    nan    nan

In [626]:
# Check Columns
print(df.columns)

Index(['Unnamed: 0', 'Month Index', 'Year/Month', 'Year', 'Month', 'Borough',
       'CD', 'Refuse', 'Paper', 'MGP'],
      dtype='object')

In [627]:
# How many years
unique = len(df["Year"].unique())

In [628]:
# Average Refuse per month
avg_ref = (df["Refuse"].mean())

In [629]:
# Total Refuse
tot_ref = df["Refuse"].sum()

In [630]:
# Total Recycling
tot_rec = df["Paper"].sum()

In [631]:
# Average Recycling per month
avg_rec = (df["Paper"].mean())

In [632]:
# Analysis Total
pd.options.display.float_format = '{:,.2f}'.format # sets the DF to 2 decimal places

refuse_analysis = pd.DataFrame({"Total Years": [unique],
                                "Avg Refuse Per Month": [avg_ref],
                                "Total Refuse in Tons": [tot_ref],
                                "Total Recycling in Tons": [tot_rec],
                                "Avg Rec Per Month": [avg_rec]})
                                         
refuse_analysis

,Total Years,Avg Refuse Per Month,Total Refuse in Tons,Total Recycling in Tons,Avg Rec Per Month
0,28,"3,760.67","74,551,578.90","7,452,780.00",416.47

In [633]:
# Using traversal, we can traverse for every element in the list and check if the element is in the unique_list already,
# if it is not over there, then we can append it in the unique_list.
# This is done using one for loop and other if statement which checks to see if the value is in the unique list
# or not which is same to another for loop.

# function to get unique values 
def unique(list1): 
  
    # create null list - although python does not have null - it has a none value 
    unique_year = [] 
      
    # pass over all elements = loop
    for x in list1: 
        # check if it exists in unique_year or not 
        if x not in unique_year: 
            unique_year.append(x) # append = Adds its argument as a single element to the end of a list
    # print list 
    for x in unique_year: 
        print (x, ends=" ") # meaning that after the print statement it will print a new line
        
unique_year

28

In [641]:
# Ratio of recycling to total refuse over time
 # Total Refuse per Year = need the year to correspond with refuse for that year, unique year equals Refuse for that year
 # Total Recycling per Year
 # Ratio of Refuse to Recycling per year
 # Overall ratio of recycling to refuse

unique_year = len(df["Year"].unique())

year_analysis = int(unique_year["Year", "Refuse"])

refuse_count = unique_year["Refuse"].sum()

year_ton = pd.DataFrame({"Specific Year": unique_year,
                         "Total Tons for Year": refuse_count})

year_ton.head()

TypeError: 'int' object is not subscriptable